<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="theme-{% if site.resume_theme %}{{ site.resume_theme }}{% endif %}">

    <div class="wrapper">

      <header class="page-header">

        <!-- You can turn off the avatar in _config.yml by setting to false -->
        {% if site.resume_avatar == 'true' %}
        <img src="images/avatar.jpg" alt="my photo" class="avatar">
        {% endif %}

        <!-- Your name is defined in the _config.yml file -->
        <h1 class="header-name">{{ site.resume_name }}</h1>

        <div class="title-bar">

          <!-- Your title is also defined in the _config.yml file -->
          <h2 class="header-title">{{ site.resume_title }}</h2>

          <!-- This is the markup for the icon links; moved out to an include because it's very verbose, and you shouldn't ever need to edit the markup (unless you want to re-order the icons); if you want to customize which links appear, define them in the _config.yml file -->
          {% include icon-links.html %}
        </div>

        <div class="executive-summary">
          <p>An experienced software developer, technical leader, and organizational change 
          agent, I have 15+ years' multi-geography experience delivering solutions across large organizations, small teams, and individually.  As needed, I can work under tight technical and schedule constraints or operate independently to achieve overall organizational goals.</p>
        </div>

        {% if site.resume_looking_for_work == 'yes' %}
        <a href="mailto:{{ site.resume_contact_email }}" class="contact-button">Contact me</a>
        {% elsif site.resume_looking_for_work == 'no' %}
        <a class="contact-button not-looking">I'm not looking for work right now.</a>
        {% else %}
        {% endif %}

      </header>

      {% if site.resume_section_experience %}
      <!-- begin Experience -->
      <section class="content-section">

        <header class="section-header">
          <h2>Experience</h2>
        </header>

        <!-- Duplicate these resume-item elements and edit accordingly for each job you want to add here -->
        <div class="resume-item">
          <h3 class="resume-item-title">Lexmark International</h3>
          <h4 class="resume-item-details">Consultant Software Engineer / B5 &bull; June 2013 &mdash; Present</h4>
          <p class="resume-item-copy">Operated in both a strategic-planning and tactical delivery role, overseeing overall system delivery and technology integration 
          for a team of 200 worldwide developers on Fleet Management and Imaging/Process Solutions in 3 Geographies</p>
          <ul class="resume-item-list">
            <li>Drove design for retail execution system from bare concept. Developed through prototype stage using Grails and Angular 1.x</li>
            <li>Designed and implemented OAuth2 Identity Management solution for our <a href="https://lsp.lexmark.com/lexmark">Cloud Print Release product</a>, enabling identity federation via SAML 2.0 &amp; ADFS.  Developed in Ruby 1.9.x and Rails 4, deployed on <a href="http://auth.psft.co">Amazon AWS</a>. </li>
            <li>Helped lead organizational change to adopt Microservices via Spring Boot, Vert.x, and HAL+JSON webservices.</li>
            <li>Transitioned full user base of CLoud Print Release product from Verizon data center hosting to Amazon AWS hosing, leveraging Docker Containers, EC2 Container Service, Elastic Beanstalk, and Amazon S3.</li>
            <li>Technical leader for Lexmark's <a href="https://www.lexmark.com/en_us/products/software/output-management/publishing-platform-for-retail.html">Publishing Platform for Retail</a>, sustaining a 3.2 million line legacy codebase, while designing for future versions.</li>
            <li>Drove area security responses to Heartbleed, FREAK, and other security advisories, managing change and delivery across 14 different groups.</li>
          </ul>          
        </div><!-- end of resume-item -->

        <div class="resume-item">
          <h3 class="resume-item-title">Lexmark International</h3>
          <h4 class="resume-item-details">Senior Software Engineer / B4 &bull; 2008 &mdash; June 2013</h4>
          <p class="resume-item-copy">Served as Team Lead, Independent Program Lead/Developer, and Area Strategist/Architect in our Business Solutions Software Division.</p>
          <ul class="resume-item-list">
            <li>Drove design and delivery for both applications and SDK for the Lexmark SmartSolutions initiative, bringing embedded applications to our inkjet devices, serviing analyst, team leader of 4 more senior developers, and solution developer simultaneously.</li>
            <li>Designed, developed, and operated the solution signing mechanism and security architecture for our SmartSolutions using Public Key Infrastructure and RSA 2048-bit keys.</li>
            <li>Worked overseas in Cebu City, Philippines for a month to build-up software organziation capability</li>
            <li>Designed/delivered lightweight, high-speed communications and management library consumed in 4 downstream projects on disparate schedules, while improving measured unit test coverage on 13,000 line codebase from 0% to 85% and still meeting hard deadlines.</li>
            <li>Drove change from subversion to Github:Enterprise-based source control for 200 developers.</li>
            <li>Designed and drove the <a href="https://www.lexmark.com/en_us/solutions/government/secure-content-monitor.html">Lexmark Secure Content Monitor</a> data-loss-prevention solution, including needed technology change from our embedded systems and Enterprise Software groups.</li>
            <li>Coordinated technology decisions and adoption by 12 worldwide teams, including mobile, embedded, on-premise, and cloud solutions.</li>
          </ul>          
        </div><!-- end of resume-item -->

        <div class="resume-item">
          <h3 class="resume-item-title">Lexmark International</h3>
          <h4 class="resume-item-details">Staff Software Engineer / B3 &bull; 2005 &mdash; 2008</h4>
          <p class="resume-item-copy">Served as Lead Architect, then Team Lead of our MarkVision Professional product, helped design what would become our Lexmark Document Distributor 4.x platform (still in use 12 years later), and took a lateral move to our PrintPath/Host Software group to gain more experience grow my knowledge base.</p>
          <ul class="resume-item-list">
            <li>Lead a 12-person development team in US and Kolkata India through 3 release cycles.</li>
            <li>Managed bi-weekly beta deliverables to test organization.</li>
            <li>Served as key onsite technical resource onsite at UBS during customer-critical escalation.</li>
            <li>Key consultant in Host Software move from ClearCase to Subversion VCS.</li>
          </ul>          
        </div><!-- end of resume-item -->

        <!-- by now you're getting the picture... -->
        <div class="resume-item">
          <h3 class="resume-item-title">Lexmark International</h3>
          <h4 class="resume-item-details">Software Engineer &bull; 1999 &mdash; 2005</h4>
          <p class="resume-item-copy">This encompasses my days as a co-op, entry-level full-time software engineer, and server-side programmer on my first product.</p>
          <ul class="resume-item-list">
            <li>Provided custom verticle applications to support our 300 CAD/CAM workstations, enabling data exchange with overseas manufacturing and development partners.</li>
            <li>Coded new XML device communication protocol for our fleet management software using design-pattern based approach.</li>
            <li>Delivered new function during off-shoring effort across 3 release cycles, while mentoring 6 other java programmers</li>                        
          </ul>
        </div><!-- end of resume-item -->

      </section>
      <!-- end Experience -->
      {% endif %}

      {% if site.resume_section_education %}
      <!-- begin Education -->
      <section class="content-section">

        <header class="section-header">
          <h2>Education</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title">Georgetown College</h3>
          <h4 class="resume-item-details">Bachelor of Science, Computer Science &bull; 1997 &mdash; 2001</h4>
          <h5 class="resume-item-details"><i>Summa cum Laude</i> </h5>
          <p class="resume-item-copy">Attended on a full academic scholarship, served as MVP on the school's academic team for 4 years, tutoring mathemetics while working 20-hour / week co-op job at Lexmark.</p>
        </div>

      </section>
      <!-- end Education -->
      {% endif %}

      {% if site.resume_section_projects %}
      <!-- begin Projects -->
      <section class="content-section">

        <header class="section-header">
          <h2>Projects</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title"><a href="http://donutlocator.io">donutfinder.io</a></h3>
          <h4 class="resume-item-details">Founder & Primary Developer &bull; 2012 &mdash; Present</h4>
          <p class="resume-item-copy">Donut Locator is an open source node/ember app that lets users find donuts within a defined radius from their home.</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Springfield Donut Eater's User Group</h3>
          <h4 class="resume-item-details">Co-Founder & Organizer &bull; 2007 &mdash; Present</h4>
          <p class="resume-item-copy">DEUG is a local monthly meetup in Springfield where we share all the latest tips and tricks for dat donut lifestyle. I organize the group, and typically eat most of the donuts.</p>
        </div>

      </section>
      <!-- end Projects -->
      {% endif %}

      {% if site.resume_section_skills %}
      <!-- begin Skills -->
      <section class="content-section">

        <header class="section-header">
          <h2>Skills</h2>
        </header>

        <div class="resume-item">
          <h4 class="resume-item-details">Business Domains</h4>
          <p class="resume-item-copy">Fleet/Policy Management, Fleet Solutions, Retail Signage, Retail Store Execution, Document Management and Retention, Security and Secure coding practices.</p>          
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">Frameworks</h4>
          <p class="resume-item-copy">Grails 1.x/2.x, Rails 4+, Spring/Spring Boot</p>          
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">Programming Languages</h4>
          <p class="resume-item-copy">Java, Groovy, Ruby, Perl, C/C++,Go</p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">Databases</h4>
          <p class="resume-item-copy">SQL Server, PostgreSQL, MySQL. Oracle</p>          
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">Operating Systems</h4>
          <p class="resume-item-copy">Mac, Linux, Windows</p>          
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">Server Technologies</h4>
          <p class="resume-item-copy">Apache, Nginx, Tomcat, Vert.x, Unicorn, IIS</p>          
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">Development Methodologies</h4>
          <p class="resume-item-copy">Agile, Scrum, Kanban, Waterfall, Continuous Integration, Continuous Deployment, Stage/Gates</p>          
        </div>

      </section>
      <!-- end Skills -->
      {% endif %}

      {% if site.resume_section_recognition %}
      <!-- begin Recognition -->
      <section class="content-section">
        <header class="section-header">
          <h2>Recognition/Publications</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title"><a href="http://specs.xmlsoap.org/ws/2004/09/soap-over-udp/soap-over-udp.pdf>Soap over UDP">SOAP-over-UDP</a></h3>
          <h4 class="resume-item-details">2004</h4>          
        </div>
        
        <div class="resume-item">
          <h3 class="resume-item-title"><a href="http://www.google.com/patents/US7681231">Patent 7,681,231</a></h3>
          <h4 class="resume-item-details">2005 (awarded 2010)</h4>          
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Technical Leadership Development Program</h3>
          <h4 class="resume-item-details">2010</h4>
          <p class="resume-item-copy">Company-wide technical and project leadership development group. Our final presentation helped advise the company's Build/Buy/Partner strategy.</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Driving Change Program / Change Agent Award</h3>
          <h4 class="resume-item-details">2012</h4>
          <p class="resume-item-copy">CEO-sponsored program to promote rigorous change management process via the ADKAR model to manage change.</p>
        </div>

      </section>
      <!-- end Recognition -->
      {% endif %}

      {% if site.resume_section_associations %}
      <!-- begin Associations -->
      <section class="content-section">

        <header class="section-header">
          <h2>Associations</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title"><a href="http://beerfortheworld.com">Beer for the World</a></h3>
          <h4 class="resume-item-details">Volunteer &bull; 2008 &mdash; Present</h4>
          <p class="resume-item-copy">Organized fund drives and participated in fundraising events for the benefit of families in third world countries without proper access to malt beverages.</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Springfield Nuclear Workers Labor Union</h3>
          <h4 class="resume-item-details">Member in Good Standin &bull; 1994 &mdash; Present</h4>
          <p class="resume-item-copy">Founding member of the local nuclear workers labor union.</p>
        </div>

      </section>
      <!-- end Associations -->
      {% endif %}

      {% if site.resume_section_links %}
      <!-- begin Links -->
      <section class="content-section">

        <header class="section-header">
          <h2>Additional Links</h2>
        </header>

        <div class="resume-item">
          <ul class="resume-item-list">
            <li><a href="#">Springfield Poker Club</a></li>
            <li><a href="#">Springfield Donut Eater's User Group</a></li>
          </ul>
        </div>

      </section>
      <!-- end Links -->
      {% endif %}
    </div>
  </body>
</html>
